// Small tablets and large smartphones (landscape view)
$screen-sm-min: 600px;

//Small devices (portrait tablets and large phones, 600px and up)
$screen-sml-min: 600px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
    @media (max-width: #{$screen-sm-min}) {
        @content;
    }
}

// greateer then small devices
@mixin sm-l {
    @media (min-width: #{$screen-sml-min}) {
        @content;
    }
 }
 
 // Medium devices
 @mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
 }
 
 // Large devices
 @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
 }
 
 // Extra large devices
 @mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
 }

 // Custom devices
@mixin rwd-w($screen) {
   @media (min-width: $screen+'px') {
       @content;
   }
}

 // Custom devices
 @mixin rwd-h($screen) {
    @media (max-height: $screen+'px') {
        @content;
    }
 }

 @mixin rwd-wh {
    @media screen and (max-width: 1280px) , screen and (max-height: 578px) {
        @content;
    }
 }