.login{
  background-color: #e3afbc;
  height: 100vh;
  //background-image: linear-gradient(to top, #a08eca 0%, #c2cffb 100%);
       
    .card {
      top: 25vh; 
      padding-top: 14px;
      padding-bottom: 14px;
    }

    .form-label-group {
      position: relative;
      margin-bottom: 1rem;
    }

    .form-label-group input {
      height: auto;
      border-radius: 2rem;
    }

    // .form-control {
    //     width: 50%;
    // }

    .log-in .btn {
      font-size: 80%;
      border-radius: 19px;
      letter-spacing: .1rem;
      font-weight: bold;
      padding: 10px;
      transition: all 0.2s;
      width: 100%;
      margin-top:10px;
    }

    .title-text-center{
      margin-bottom: 1rem;
      text-align: center;
      font-weight: 300;
      font-size: 1.5rem;
    }
}